*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

#titulo {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color:blue;
    text-align: center;
}

.texto {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight:normal;
    font-family: Times New Roman;

}   

img {
    margin-left: 600px;
}

.llogin{
    font-size: 60px;

}

.llogin:hover {
    color:blue;
}

.pteste {
    color:rgb(0, 0, 0);
    
}

table{
    width: 600px;
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

table thead{
    background-color: darkgrey;
}

table tbody{
    background-color: white;
}

th, td{
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #DDD;
}