*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

#titulo {
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding-left: 700px;
}

.texto {
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight:normal;
    margin-left: 150px;
    margin-right: 150px;

}

img {
    margin-left: 600px;
}

.llogin{
    font-size: 60px;
    margin-left: 150px;
    margin-right: 150px;

}

.llogin:hover {
    color:red;
}
.pteste {
    margin-left: 150px;
    margin-right: 150px;
}